@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

@media (max-width:360px) {
    .photo-album{
        flex-direction: column;
    }
}

section{
    size: 200%;
}

h1{
    color:#FFFFFF;
    font-size: 64px;
    width: 485px;
    height: 230px;
    
}
.banner{
    display: flex;
    background-color: #2D25A0;
    
}

.header-1{
    padding:212px 235px 102px 156px;
}

.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: white;
    font-weight: 100;
}

.header-2{
    width: 556px;
    height: 438px;
    margin-top: 153px;
    margin-right: 140px;
    
    /* margin: 153px 141px 86px 100px; */
}
.photo img{
    width: 100%;   
}


.photo:hover{
    width: 500px;
}

.photo-frame{
    width: 330px;
    height: 480px;
    border: 10px solid #FFFFFF;
    box-shadow: 10px 10px 10px 10px gray;
}
.photo-1 img{
    width: 100%;
}

.photo-album{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    background-color: white;
    padding-left: 90px;
    padding-right: 310px;
    grid-gap: 30px;
}
.photo-detail p{
    background-color: white;
}

.photo-detail h3{
    background-color: white;
}

.magazine-container{
    margin-top: 10px;
    background-color: khaki ;
}

.section-tittle{
    margin-left: 90px;
}

.magazines{
    display: flex;
    justify-content: space-around;
    
}

.magazine-banner{
    width: 200px;
    height: 200px;
}

.magazine-banner img{
    width: 100%;
}

.magazine-detail h3{
    margin: 5px 0 0 0; 
}

.magazine-detail p{
    margin: 0px;
}

.footer-part{
    width: 484px;
    height: 213px;
    justify-content: center;
    margin-left: 475px;
    margin-top: 200px;
}

.logo-photo img{
    width: 100%;
}
/* .social-icon{ */
    justify-content: center;
}
.last-section{
    background-color: green;
    border-color: greenyellow;
    margin-top: 100px;
}

/* .football-logo{ */
    display: flex;
    justify-content: center;

 /* .football-logo{ */
    display: flex;
    justify-content: center;
 }   

footer{
    width: 100%;
}

.social-icon{
    display: flex;
    justify-content: center;
}

.Copyright{ 
    display: flex;
    justify-content: center;
}

